@charset "UTF-8";

body{
    background-color: dimgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: cyan;
    background-color: darkseagreen;
}
h2{
    color: forestgreen;
}
p{
    text-align: justify;
}
a{
    color: ghostwhite;
}